.grid {
  max-width: 100%;
}
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.3333%;
}

.grid-item {
  float: left;
  padding: 1px;
  border-radius: 3px;
  overflow: hidden;
}

.grid-item img {
  display: block;
  max-width: 100%;
}
